- var d = bannerData
- var bannerClass = (typeof(bannerBkg) !== 'undefined'? bannerBkg : "Banner-container" )
- var bannerSubtitleClass = (typeof(bannerSubClass) !== 'undefined'? bannerSubClass : "Banner-subtitle")
- var bannerImg = bannerImg
- var bannerImgClass = (typeof(bannerImgClass) !== 'undefined' ? bannerImgClass : "Feature-image")
- var bannerParagraphs = bannerParagraphs
div(class=bannerClass)
  div.Banner-item.u-textCenter
    each v,k in d
      - var bannerItem = (k == 'title' ? "<h1 class='Banner-title'>"+v+"</h1>" : "<h2 class='"+bannerSubtitleClass+"'>"+v+"</h2>")
      | !{ bannerItem }
    if typeof(bannerImg) !== 'undefined'
      div.Feature
        figure.Feature-figure
          img(src=bannerImg class=bannerImgClass)
    if typeof(bannerParagraphs) !== 'undefined'
      each para in bannerParagraphs
        h2.Feature-subtitle.u-textCenter= para
