mixin picture(path, title, alt)

  - var path_nosuffix = path.replace(/[.][a-z]{3}/, "");

  picture(style="height:30vh;").ratio-box.lazy-img
    source(srcset="#{path_nosuffix}.webp" type="image/webp")
    source(srcset="#{path_nosuffix}.png" type="image/png")
    source(srcset="#{path_nosuffix}.jpg" type="image/jpeg")
    img(src="#{path_nosuffix}.webp" style="object-fit:contain;height:30vh;padding-bottom:3em;").img-small
    img(data-src="#{path_nosuffix}.webp" title="#{title}" alt="#{alt}" style="object-fit:contain;height:30vh;padding-bottom:3em;").img-large-webp.lazyload