- var config_imgs = contents.media.images.config_images.web

- var world_cams = _.chain(contents.store.products['world-cameras.json'].metadata).sortBy(function(item){
-  return item['order']; 
- }).value()

- var eye_cams = _.chain(contents.store.products['eye-cameras.json'].metadata).sortBy(function(item){
-  return item['order']; 
- }).value()


section.Grid.Grid--1of2--breakConfig
  
  //- Images
  div.Grid-cell
    div.Feature
      figure.Feature-figure.Feature-figure--config
        //- init eye image with 120fps
        img(id="pupil-config-img" class="Feature-image Feature-image--configEye" src=config_imgs['hs_hsm.jpg'].url)
        //- init world image with 120fps
        //- img(id="world-img" class="Feature-image Feature-image--configWorld" src=config_imgs['pupil-config-world-120hz.jpg'].url)          
  
  //- Controls
  div.Grid-cell
    div.Grid.Grid-column
      //- Presets -- pulled from JSON
      //- here we sort the data in pupil-presets by the order key
      //- - var config_data = contents.store.products['pupil-presets.json'].metadata
      //- - var config_presets = _.chain(config_data).sortBy(function(item){
      //- -  return item['order']; 
      //- - }).value()
      //- div.StoreConfig-rowContainer.StoreConfig-rowContainer--presets
      //-   div.Grid
      //-     div.Grid-cell.u-textCenter
      //-       h3.StoreConfig-header Preset Configurations
      //-   ul.Grid.Grid--justifyCenter
      //-     each item in config_presets.slice(1,6)
      //-       li.Grid-cell.u-textCenter
      //-         a(role="button" href="#" class="Store-navPreset" data-preset=item.world+" "+item.eye) #{ item.label } 

      //- World options
      div.Grid-cell.StoreConfig-rowContainer.StoreConfig-rowContainer--world
        div.Grid.ConfigOptions
          div.Grid-cell.u-textCenter
            h3.StoreConfig-header World Camera
        ul.Grid.Grid--justifyCenter.ConfigOptions--world
          //- each world in world_cams
          //-   //- 120fps is active by default
          //-   - var itemClass = (world.id === 'world-120hz' ? 'StoreConfig-world StoreConfig--state-active' : 'StoreConfig-world')
          //-   li.Grid-cell.u-textCenter
          //-     a(role="button" class=itemClass id=world.id href=world.image_url data-id=world.id data-specs=world.specs data-cost=world.cost)= world.label 
        div.Grid.Grid--full
          div.Grid-cell.u-textCenter.TechSpecs-container
            a(href="#" role="button" id="specs-world" class="TechSpecs") show technical specs
          div.Grid-cell.TechSpecs--world
            //- table.TechSpecs-table.TechSpecs-txt--world

      //- Eye options
      div.Grid-cell.StoreConfig-rowContainer.StoreConfig-rowContainer--eye
        div.Grid
          div.Grid-cell.u-textCenter
            h3.StoreConfig-header Eye Camera
        ul.Grid.Grid--justifyCenter.ConfigOptions--eye
          //- each eye in eye_cams
          //-   //- 120fps is active by default
          //-   - var itemClass = (eye.id === 'eye-30hz' ? 'StoreConfig-eye StoreConfig--state-active' : 'StoreConfig-eye')
          //-   li.Grid-cell.u-textCenter
          //-     a(role="button" class=itemClass id=eye.id href=eye.image_url data-id=eye.id data-specs=eye.specs data-cost=eye.cost)= eye.label 
        div.Grid.Grid--full
          div.Grid-cell.u-textCenter.TechSpecs-container
            a(href="#" role="button" id="specs-eye" class="TechSpecs") show technical specs
          div.Grid-cell.TechSpecs--eye
            //- table.TechSpecs-table.TechSpecs-txt--eye

      //- use license
      div.Grid-cell.StoreConfig-rowContainer.StoreConfig-rowContainer--license
        div.Grid
          div.Grid-cell.u-textCenter 
            h4.StoreConfig-header Academic Discount
        div.Grid
          div.Grid-cell.Grid-cell--1of2.u-textCenter
            //- input(type="checkbox" checked="false" id="license-option" value="academic" data-cost='590')
            a(href="#" role="button" class="Store-license StoreConfig--state-active--license" id="license_academic") apply academic discount
          div.Grid-cell.Grid-cell--1of2.u-textCenter
            a(href="#" role="button" class="Store-license" id="license_commercial") no discount
        div.Grid.Grid--full
          div.Grid-cell.u-textCenter
            a(href="#" id="specs-license" class="LicenseSpecs") show discount details
          div.Grid-cell.LicenseSpecs-container
            p.LicenseSpecs-text

    div.Grid.Grid--1of2.Grid--center.StoreConfig-rowContainer--cost
      div(id="Config-sum" class="Grid-cell u-textCenter")
        h3.StoreConfig-SubTotal--label Price: &nbsp;#[p(class="StoreConfig-subTotal")]
        p(id="StoreConfig-weight")
      div.Grid-cell.StoreConfig-rowContainer--cartBtns
        a(role="button" id="AddToCart-config" class="AddToCart Button Button--cart" href="#" data-product="pupil") Add to cart

    //- div.Grid.Grid--1of2
      div.Grid-cell.StoreConfig-rowContainer--cartBtns
        a(role="button" class="AddToCart Button" href="#" data-product="pupil") Add to cart
      //- div.Grid-cell.StoreConfig-rowContainer--cartBtns
        //- a(role="button" id="StoreConfig-clearCart" class="Button" href="#") Clear Cart


