header.Header-container
  div(id="Header")
    button(class="Header-menu-button js-menu-show material-icons") menu
    div.Header-logo
      nav
        a(href="/").logotype pupil labs

    div.Header-nav
      div(class="Header-cart-badge" id="animation")
      ul(class="Header-nav-list")
        each url, title in contents.menu['header-nav.json'].metadata
          - var rel_attribute = (title === "docs" ? "noopener" : "")
          - var nav_id = (title === 'cart' ? 'Nav-cart' : '')
          - var target_attribute = (title === "docs" ? "_blank": "")
          li.Nav-tab
            nav(id=nav_id)
              a(class="Header-nav-item" href=url target=target_attribute rel=rel_attribute) #{ title }

    div.Header-cart-button-container
      a(class="Header-cart-badge" id="cart-mobile" href="/cart")

  aside.js-side-nav.side-nav
    nav.js-side-nav-container.side-nav__container
      div.js-menu-hide
      ul.side-nav__content
        li.side-nav-item
          a(class="side-nav-item" href="/") home
        each url, title in contents.menu['header-nav.json'].metadata
          li
            a(class="side-nav-item" href=url) #{ title }
