header.Header-container
  div.Header
    div.Header-left-bar-item
      a(class="Header-menu-button js-menu-show material-icons" href="#/") menu
    div.Header-logo
      a(href="/")= locals.name
    div.Header-right-bar-item
      div.Header-button-container
        a(class="Header-menu-button material-icons" href="/cart") shopping_cart
      div(class="Header-cart-badge") 1

  div.Header-tab-container
    div.Header-tab-navs
      ul
        each url, title in contents.menu['header-nav.json'].metadata
          - var pageTitle = "none"
          - if (typeof(page) !== 'undefined'){
          -   pageTitle = page.title
          - }
          - var navState = (title == pageTitle ? "Nav-link u-linkAttention" : "Nav-link")
          li.Nav-tab
            a(href=url id=navId class=navState) #{ title }

  aside.js-side-nav.side-nav
    nav.js-side-nav-container.side-nav__container
      div.js-menu-hide
      ul.side-nav__content
        li
          a(href="/pupil") pupil
        li 
          a(href="/store") store
        li 
          a(href="/jobs") jobs
        li
          a(href="/about") about
        li
          a(href="/blog") blog

