head
  meta(charset='utf-8')
  meta(http-equiv='x-ua-compatible', content='ie=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')

  title
    block title
      = locals.name

  meta(name='description' content= locals.description)
  meta(name="theme-color" content="#38ea92")
  //- favicons for all devices
  //- link(rel='icon' href=contents.media.graphics.web.favicons['favicon.ico'].url) 
  link(rel="apple-touch-icon" sizes="57x57" href=contents.media.graphics.web.favicons['apple-touch-icon-57x57.png'].url)
  link(rel="apple-touch-icon" sizes="60x60" href=contents.media.graphics.web.favicons['apple-touch-icon-60x60.png'].url)
  link(rel="apple-touch-icon" sizes="72x72" href=contents.media.graphics.web.favicons['apple-touch-icon-72x72.png'].url)
  link(rel="apple-touch-icon" sizes="76x76" href=contents.media.graphics.web.favicons['apple-touch-icon-76x76.png'].url)
  link(rel="apple-touch-icon" sizes="114x114" href=contents.media.graphics.web.favicons['apple-touch-icon-114x114.png'].url)
  link(rel="apple-touch-icon" sizes="120x120" href=contents.media.graphics.web.favicons['apple-touch-icon-120x120.png'].url)
  link(rel="apple-touch-icon" sizes="144x144" href=contents.media.graphics.web.favicons['apple-touch-icon-144x144.png'].url)
  link(rel="apple-touch-icon" sizes="152x152" href=contents.media.graphics.web.favicons['apple-touch-icon-152x152.png'].url)
  link(rel="apple-touch-icon" sizes="180x180" href=contents.media.graphics.web.favicons['apple-touch-icon-180x180.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-1182x2208.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-1242x2148.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 2)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-1496x2048.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-1536x2008.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 1)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-320x460.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-640x1096.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px) and (-webkit-device-pixel-ratio: 2)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-640x920.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 1)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-748x1024.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-750x1294.png'].url)
  link(rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 1)" href=contents.media.graphics.web.favicons['apple-touch-startup-image-768x1004.png'].url)
  link(rel="icon" type="image/png" href=contents.media.graphics.web.favicons['favicon-32x32.png'].url sizes="32x32")
  link(rel="icon" type="image/png" href=contents.media.graphics.web.favicons['favicon-230x230.png'].url sizes="230x230")
  link(rel="icon" type="image/png" href=contents.media.graphics.web.favicons['favicon-96x96.png'].url sizes="96x96")
  link(rel="icon" type="image/png" href=contents.media.graphics.web.favicons['android-chrome-192x192.png'].url sizes="192x192")
  link(rel="icon" type="image/png" href=contents.media.graphics.web.favicons['coast-228x228.png'].url sizes="228x228")
  link(rel="icon" type="image/png" href=contents.media.graphics.web.favicons['favicon-16x16.png'].url sizes="16x16")
  link(rel="manifest" href="/manifest/manifest.json")
  link(rel="shortcut icon" href=contents.media.graphics.web.favicons['favicon.ico'].url)
  link(rel="yandex-tableau-widget" href="/manifest/yandex-browser-manifest.json")
  meta(property="og:image" content=contents.media.graphics.web.favicons['open-graph.png'].url)
  meta(name="apple-mobile-web-app-capable" content="yes")
  meta(name="msapplication-TileColor" content="#ffffff")
  meta(name="msapplication-TileImage" content=contents.media.graphics.web.favicons['mstile-144x144.png'].url)
  meta(name="msapplication-config" content=contents.media.graphics.web.favicons['browserconfig.xml'].url)

  //- stylesheets
  link(rel='stylesheet' href=contents.css['main.css'].url)

  //- js modernizr
  script(src=contents.js.vendor['modernizr-2.8.3.min.js'].url)

  //- cache control params should be modified
  meta(http-equiv="Cache-control" max-age=86400 content="public")

  //- feed
  link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
  //
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~| 
    |      ___      ___         ___                        |
    |     /\  \    /\  \       /\  \                       |
    |    /::\  \   \:\  \     /::\  \  ___                 |
    |   /:/\:\__\   \:\  \   /:/\:\__\/\__\                |
    |  /:/ /:/  ___  \:\  \ /:/ /:/  /:/__/   ___     ___  |
    | /:/_/:/  /\  \  \:\__/:/_/:/  /::\  \  /\  \   /\__\ |
    | \:\/:/  /\:\  \ /:/  \:\/:/  /\/\:\  \_\:\  \ /:/  / |
    |  \::/__/  \:\  /:/  / \::/__/  ~~\:\/\__\:\  /:/  /  |
    |   \:\  \   \:\/:/  /   \:\  \     \::/  /\:\/:/  /   |
    |    \:\__\   \::/  /     \:\__\    /:/  /  \::/  /    |
    |     \/__/    \/_____     \/__/    \/__/  ___/__/     |
    |                 /\  \       _____       /\__\        |
    |                /::\  \     /::\  \     /:/ _/_       |
    |               /:/\:\  \   /:/\:\  \   /:/ /\  \      |
    |  ___     ___ /:/ /::\  \ /:/ /::\__\ /:/ /::\  \     |
    | /\  \   /\__/:/_/:/\:\__/:/_/:/\:|__/:/_/:/\:\__\    |
    | \:\  \ /:/  \:\/:/  \/__\:\/:/ /:/  \:\/:/ /:/  /    |
    |  \:\  /:/  / \::/__/     \::/_/:/  / \::/ /:/  /     |
    |   \:\/:/  /   \:\  \      \:\/:/  /   \/_/:/  /      |
    |    \::/  /     \:\__\      \::/  /      /:/  /       |
    |     \/__/       \/__/       \/__/       \/__/        |
    |                                                      |
    |~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~| 
