header.Site-header.Header-container
  div.Header
    div.Header-left-bar-item
      a(class="Header-menu-button js-menu-show material-icons" href="#") menu
    div.Header-logo
      a(href="/")= locals.name
    div.Header-right-bar-item
      div.Header-button-container
        a(class="Header-menu-button material-icons" href="/cart") shopping_cart

  aside.js-side-nav.side-nav
    nav.js-side-nav-container.side-nav__container
      div.js-menu-hide
      header.side-nav__header side nav
      ul.side-nav__content
        li one
        li two
        li three

  //- nav(class="Header-nav")
  //-   ul
  //-     each url, title in contents.menu['header-nav.json'].metadata
  //-       - var pageTitle = "none"
  //-       - if (typeof(page) !== 'undefined'){
  //-       -   pageTitle = page.title
  //-       - }
  //-       - var navState = (title == pageTitle ? "Nav-link u-linkAttention" : "Nav-link")
  //-       - var navId = (title === "Cart" ? "Nav-cart" : "")
  //-       - var supTag = (title === "Cart" ? "<sup class=Nav-cart-itemCount></sup>" : "<sup> </sup>")
  //-       li.Nav-list-item
  //-         a(href=url id=navId class=navState) #{ title } !{supTag}
