extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="About").Site-transform
    //- Title block
    - var team_data = contents.about['team.json']
    - var team_meta = team_data.metadata
    - var imprint_data = contents.about['imprint.md']
    - var imprint_meta = imprint_data.metadata

    //- office image 1
    div.Background-img-top.Background-img-cover
      figure(class="Background-img--full-wh" src="'../media/images/about/gsm_2016_bw.jpg'" style="background-image: url('../media/images/about/gsm_2016_bw.jpg');")
      div.Site-content-container.Background-img--caption.u-textCenter
        h1.Background-img--caption-h1 About Us
        h2.Background-img--caption-h2 We do research and development, with an emphasis on design. 

    //- div
    //-   figure(class="Background-img-top Background-img--full-wh Background-img-cover" style="background-image: url('../media/images/about/gsm_2016_bw.jpg');")

    //- mission
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1.Feature-title--lg.u-padBottom--1 Mission
              div.Grid
                div.Grid-cell.Grid-cell--full
                  //- p.Feature-paragraph At Pupil Labs we do research and development, with an emphasis on design. 
                  p.Feature-paragraph We believe in open source. We have formed our business around an open source model, and have grown with our community.
                  p.Feature-paragraph We work projects that we find challenging and exciting. It is our goal with every aspect of our work to learn something new. 
                  p.Feature-paragraph We are excited about eye tracking. It enables us to work at the intersection of many fields and to interact with a diverse community.
                  p.Feature-paragraph We are currently focusing our development efforts on Pupil – a mobile eye tracking headset and open source software framework – and on developing open source tools for virtual reality, augmented reality, and mixed reality.

    //- team
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 Team
            //- todo
            //- separate make content into json 
            //- add images
            //- loop through content and images
            div.Grid.Grid--1of3.Grid--gutters
              each member,i in team_meta
                - var memberContact = (!member.contact ? member.name : "<a href='mailto:"+member.contact+"'>"+member.name+"</a>")
                div.Grid-cell
                  img(src="#{ member.img }" style="border-radius:50%;").Feature-image
                  p.Feature-paragraph!= typogr(memberContact).typogrify()
                  p.Feature-paragraph= member.role

    //- office image 2
    div.Grid
      div(class="Background-img--full-wh-grid Background-img-cover" style="background-image: url('../media/images/about/gsm_2016_topview.jpg');")


    //- made in berlin row
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1.Feature-title--lg.u-padBottom--1 Made in Berlin
              div.Grid
                div.Grid-cell.Grid-cell--full
                  p.Feature-paragraph Our main office is located in Berlin, Germany. 
                div.Grid-cell.Grid-cell--full
                  p.Feature-paragraph We fabricate locally and ship worldwide.
                div.Grid-cell.Grid-cell--full
                  p.Feature-paragraph We strive to make great tools, and are excited to see what you do with them! 


    //- imprint
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1.Feature-title--lg.u-textCenter.u-padBottom--1= imprint_meta.title
            div.Grid
              div.Grid-cell.Grid-cell--full!= typogr(imprint_data.html).typogrify()


    //- div.u-padBottom--5
    //-   div.Grid.Grid--1of2
    //-     div.Grid-cell
    //-       h2.Feature-title.u-textCenter.u-padBottom--1= i.title
    //-       div.Article!= typogr(i.html).typogrify()
