extends layout

block append title
  | #{ " - " + page.title}

block main
  div(id="About").Site-transform
    //- Title block
    - var team_data = contents.about['team.json']
    - var team_meta = team_data.metadata
    - var imprint_data = contents.about['imprint.md']
    - var imprint_meta = imprint_data.metadata

    //- office image 1
    div.Background-img-top.Background-img-cover
      figure(class="img-placeholder")
        div(class="Background-img--full-wh img-loaded img-small" style="background-image: url('data:image/jpeg;base64,/9j/4AAQSkZJRgABAQAAAQABAAD/2wBDAAMCAgMCAgMDAwMEAwMEBQgFBQQEBQoHBwYIDAoMDAsKCwsNDhIQDQ4RDgsLEBYQERMUFRUVDA8XGBYUGBIUFRT/2wBDAQMEBAUEBQkFBQkUDQsNFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBQUFBT/wAARCAAUAB4DASIAAhEBAxEB/8QAGQAAAwEBAQAAAAAAAAAAAAAAAAQIBgUJ/8QAKRAAAQMDAwQCAQUAAAAAAAAAAgMEBQEGEgAHIhETFDIhUjEII0JiY//EABYBAQEBAAAAAAAAAAAAAAAAAAUEA//EACARAAIDAAIBBQAAAAAAAAAAAAECAAMRITESQXGBsdH/2gAMAwEAAhEDEQA/AKgTtdiksQpPBSER7glliJCI5EXL66cFWJZMWLhtOJSCjwVCRSaJ9wSFMsS5ZfbUY7jbqz0dabzyJyYQUJYkxcx5Jtx7YiI+pZewpiQ8eOWubu1eS1gwKLqOfSK75SLF5DiqmIimosp+56l/pllj/H20Ot5Lisdy1SjMybyM32MsRPe60WriQauppIXEeXbdICmoRIljlyER+utSzkmtwQkXNxlaPY2Tbi6auEh4qJl6ny+35155M92rfnn1txbKWfRE9cDUVH0kkj5SaKy2PbFQS9iHt8S4kPEuWqH2rmpnbi53VuTO8MLe8YgyzZwD1l4BR/IeQ1FMvjEhHH+w6VVHUE2MCPTAR9/gk1llY6GfPEUpZ8TMtKMnzUXTRV23qaKvyNeha1z+wLc3AT8eeh2kgg3BNummoHEQpXr00aNF0KPJeJvYMBI7ORuO/SzYMBVORhmLqFXVcN0VaMHFUwUDPp0rTp8+1dTXuztrb9v7rzDdFl3kKpAokkooQi3pUiEhCgVHjXAa9Cyx/A4jx0aNNMAFEMsn/9k=');")   

        div(class="Background-img--full-wh img-large" data-src='../media/images/about/san-2018.jpg')                
      div.Site-content-container.Background-img-caption-container.u-textCenter
        h1.Background-img-caption We build eye tracking hardware and software.
        h1.Background-img-caption We believe in open source. 

    //- div
    //-   figure(class="Background-img-top Background-img--full-wh Background-img-cover" style="background-image: url('../media/images/about/gsm_2016_bw.jpg');")

    //- mission
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1 Mission
              div.Grid
                div.Grid-cell.Grid-cell--full
                  //- p.Feature-paragraph At Pupil Labs we do research and development, with an emphasis on design. 
                  h4 We believe in open source. We have formed our business around an open source model, and have grown with our community.
                  h4 We work projects that we find challenging and exciting. It is our goal with every aspect of our work to learn something new. 
                  h4 We are excited about eye tracking. It enables us to work at the intersection of many fields and to interact with a diverse community.
                  h4 We are currently focusing our development efforts on Pupil – a mobile eye tracking headset and open source software framework – and on developing open source tools for virtual reality, augmented reality, and mixed reality.

    //- team
    a(name="team")
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1 Team
            //- todo
            //- separate make content into json 
            //- add images
            //- loop through content and images

            - var team_sorted = _.sortBy(team_meta, function(obj){
            -    return obj.name.split(' ').pop()
            -  });

            div.Grid.Grid--1of3.Grid--gutters
              each member,i in team_sorted
                - var memberContact = (!member.contact ? member.name : "<a href='mailto:"+member.contact+"'>"+member.name+"</a>")
                div.Grid-cell
                  //- show images when we have them ready
                  //- img(src="#{ member.img }" style="border-radius:50%;").Feature-image
                  p.u-padBottom--0!= typogr(memberContact).typogrify()
                  p.small= member.role
              div.Grid-cell
                p.u-padBottom--0 #[a(href="/careers" title="Join the team") You]
                p.small Join the team

    //- office image 2
    div.Grid
      div(class="Background-img--full-wh-grid Background-img-cover" style="background-image: url('../media/images/about/gsm_2016_topview.jpg');")


    //- made in berlin row
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1 Made in Berlin
            div.Grid
              div.Grid-cell.Grid-cell--full
                h4 Our main office is located in Berlin, Germany. 
              div.Grid-cell.Grid-cell--full
                h4 We fabricate locally and ship worldwide.
              div.Grid-cell.Grid-cell--full
                h4 We strive to make great tools, and are excited to see what you do with them! 


    //- imprint
    a(name="imprint")
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1.Feature-title--lg.u-textCenter.u-padBottom--1= imprint_meta.title
              div.Grid
                div.Grid-cell.Grid-cell--full!= imprint_data.html


    //- div.u-padBottom--5
    //-   div.Grid.Grid--1of2
    //-     div.Grid-cell
    //-       h2.Feature-title.u-textCenter.u-padBottom--1= i.title
    //-       div.Article!= typogr(i.html).typogrify()
