extends layout

block append head
  meta(name="twitter:site" content="@pupil_labs")
  meta(name="twitter:creator" content="@pupil_labs")
  meta(property="og:url" content="https://pupil-labs.com" + page.url)
  meta(property="og:title" content=page.title)
  meta(property="og:description" content=page.metadata.subtitle)
  - var summary_format = ""
  - var img_path_base = "https://pupil-labs.com/"
  - var pupil_icon = "media/graphics/web/pupil-app-icons/pc.jpg"
  - if (!page.metadata.featured_img){
  -   var img_path_full = img_path_base + pupil_icon
  -   summary_format = "summary"
  - } else {
  -   var img_path_full = img_path_base + page.metadata.featured_img.replace("../../../../", "")
  -   summary_format = "summary_large_image"
  - }
  meta(property="og:image" content=img_path_full)
  meta(name="twitter:card" content=summary_format)

block append title
  | #{ " - " + page.title}


block main
  div(id="Article")
    div.Site-content-container
      div.Feature-container-column

        article.Grid
          header.Grid-cell.Grid-cell--full.Blog-article-header.u-textCenter
            h1.Blog-article-title= page.title
            h4.small= moment.utc(page.date).format('YYYY MMM DD')
          section.Grid-cell.Grid-cell--full.content!= typogr(page.html).typogrify()
    a(href="/blog")
      div.Blog-nav.u-textCenter
        h4.Blog-nav-link back to archive
      

