extends layout

block append title
  | #{ " - Blog"}

block main
  div(id="Blog").Site-transform

    - var articles = env.helpers.getArticles(contents)
    - var newsArticles = []
    - var releaseArticles = []
    - var featuredArticle = ''
    - var latestRelease = ''

    each article, i in articles
      //- make new arrays for news and releases
      if article.metadata.featured_img
        - newsArticles.push(article)
      if article.metadata.tag
        - releaseArticles.push(article)

    each release, i in releaseArticles
      if i == 0
        div.new-release-bar
          div.Site-content-container.Blog-container
            div.Grid.Grid--center.Grid--justifySpaceBetween
              div Latest software release
              - console.log(latestRelease)
              - var githubLink = 'https://github.com/pupil-labs/pupil/releases/tag/' + release.metadata.tag.caption
                a.hero-button.mdc-button.mdc-button--raised.mdc-primary(href= githubLink)
                  - var downloadCaption = 'Download ' + release.metadata.tag.caption
                  span= downloadCaption

    each featured, i in newsArticles
      if i == 0
        - var featured_inline_style = (featured.metadata.featured_img ? "background-color:#6f7679; background-image: url('"+featured.metadata.featured_img+"');" : "background: linear-gradient(to top right, #536DFE 0%, #75F0B4 100%);")
        div.Site-content-container.Blog-container
          a(href=featured.url)
            div.Grid.card.Grid-featured-card.u-marginY--2
              div.Grid-cell.grid-7-5
                div.Background-img-top--blog.Background-img-featured-blog.Background-img-cover
                  div(style=featured_inline_style ).Background-img--full-wh
              div.Grid-cell.grid-3-5.u-padA--2
                div.Grid.Grid--justifySpaceBetween.Grid-column.Fill-height(style="color:#212121;")
                  div
                    h5.Blog-topic-text News
                    h4.Blog-header-featured.Header-bold= featured.metadata.title
                    p.Blog-small-text= featured.metadata.subtitle
                  div
                    p.Blog-small-text.grey= moment.utc(featured.date).format('YYYY MMM DD')

    //- get featured news article
    each article, i in newsArticles
      if i == 0
        - featuredArticle = article
    //- get latest pupil release
    each release, i in releaseArticles
      if i == 0
        - latestRelease = release

    div.Site-content-container.Blog-container
      include includes/webp-img
      div.Grid.Grid--1of2.Grid--justifySpaceBetween.u-marginY--2
        each article, i in articles
          if article !== featuredArticle
            if article !== latestRelease

              - var img_thumb = article.metadata.featured_img_thumb
              - var img_src = (img_thumb ? img_thumb : "https://placehold.it/800x600")

                div.Grid-cell.card
                  a(href=article.url)
                    div.Grid-column.Fill-height(style="display:flex;")
                      div
                        if article.metadata.tag
                          div.Grid--center.Grid--justifyCenter.Grid-cell--fillHeight.Grid-column.Release-tag
                            -var pupilRelease = 'Pupil ' + article.metadata.tag.caption
                            h3.Header-bold(style="color:#fff;")= pupilRelease
                        else
                          +webp-img(img_thumb, article.title, article.title, "height:28vh;", "object-fit:cover;border-radius:4px 4px 0 0;")
                      div.Fill-height.u-padA--2
                        div.Grid.Grid--justifySpaceBetween.Grid-column.Fill-height(style="color:#212121;")
                          div
                            if article.metadata.tag
                              h5.Blog-topic-text(style="padding-bottom:6px !important;") Software Release
                            else
                              h5.Blog-topic-text(style="padding-bottom:6px !important;") News
                            h4.Blog-header.Header-bold= article.title
                            p.Blog-small-text= article.metadata.subtitle
                          div
                            p.Blog-small-text.grey= moment.utc(article.date).format('YYYY MMM DD')