extends layout

block append title
  | #{ " - Blog"}

block main
  div(id="Blog")

    each article, i in articles
      div.Blog-row
        div.Site-content-container
          div.Feature-container-column
            article.Grid.Grid--1of2.Grid--justifyCenter.Grid--alignContentCenter
              div.Grid-cell
                figure.Feature-figure
                  - var img_src = (article.metadata.featured_img ? article.metadata.featured_img : "https://placehold.it/800x600")
                  img(class="Feature-image" src=img_src)
              div.Grid-cell.Blog-article-intro
                a(href=article.url)
                  h2.Blog-article-title= article.title
                p.small= moment.utc(article.date).format('YYYY MMM DD')      

                if article.metadata.subtitle            
                  p= article.metadata.subtitle
                a(href=article.url) read more

            //- a(href=article.url)
              h3.u-textCenter read more
        //- article.Grid.Grid--gutters
      //-   div.Grid-cell
      //-     header.Blog-article-header
      //-       h2.Blog-article-title
      //-         a(href=article.url)= article.title
      //-       p.Blog-article-date
      //-         span= moment.utc(article.date).format('YYYY MMM DD')
      //-     section.Blog-content
      //-       //- if article.intro.length > 0
      //-       != typogr(article.html).typogrify()
            //- if article.hasMore
            //-   p.more
            //-     a(href=article.url) more
    div.Grid.Grid--justifyCenter
      if prevPage
        a(href=prevPage.url class="Blog-nav-link")
          div.Grid-cell--auto.Blog-nav
            p newer
      //- else
      //-   a(href='/archive.html' class="Blog-nav-link")
      //-     div.Grid-cell--auto.Blog-nav
      //-       p archives
      if nextPage
        a(href=nextPage.url class="Blog-nav-link")
          div.Grid-cell--auto.Blog-nav
            p older



