extends layout

block append title
  | #{ " - Blog"}

block main
  div(id="Blog")
    
    div.Blog-content-container
      div.Blog-content-wrapper
        div(id="Blog-content-container" data-url="../blog/2016-07/usb-c-clip/index.html" data-title="USB C Clip")
          a(href="../blog/2016-07/usb-c-clip/index.html" title="USB C Clip")
            div(class="Blog-feature-img" style="background-image: url('../media/images/blog/usb-c.jpg');"
            href="../blog/2016-07/usb-c-clip/index.html" title="USC C Clip")
              div.Background-img-text-container.Background-text-container
                div.Background-header-text USB C Clip
                p.Background-caption-text We are excited to announce the release of our new USB C clip for Pupil hardware.
                p.Background-caption-text-button Read More

      //-Shows all the articels in one dropdown list

      //- div(class="ui compact menu")
      //-   div(class="ui simple dropdown item") Archive
      //-     div(class="menu")
      //-       - var articles = env.helpers.getArticles(contents)
      //-       each article,i in articles
      //-         a(class="item" href=article.url)
      //-               div #{ article.title } - #[time(class="Article-time")= moment.utc(article.date).format('YYYY MMM. DD')]

  
      //-Categorize archive in years and all the posts in each month
      
    div.Blog-content-container
      div.Blog-content-wrapper
        each article, i in articles
          div.Feature-container-column.vertical-line
            article.Grid.Grid--1of2.Grid--justifyCenter
                div.Grid-cell
                  - var img_src = (article.metadata.featured_img ? article.metadata.featured_img : "https://placehold.it/800x600")
                  img(class="Feature-image" src=img_src)
                div.Grid-cell.Blog-article-intro
                  a(href=article.url)
                    h2.Blog-article-title= article.title
                  p.small= moment.utc(article.date).format('YYYY MMM DD')      
                  if article.metadata.subtitle            
                    p= article.metadata.subtitle
                  a(href=article.url) read more


    div.Grid.Grid--justifyCenter
      if prevPage
        a(href=prevPage.url class="Blog-nav-link")
          div.Grid-cell--auto.Blog-nav
            p newer
      //- else
      //-   a(href='/archive.html' class="Blog-nav-link")
      //-     div.Grid-cell--auto.Blog-nav
      //-       p archives
      if nextPage
        a(href=nextPage.url class="Blog-nav-link")
          div.Grid-cell--auto.Blog-nav
            p older