extends layout

block append title
  | #{ " - Blog"}

block main
  div(id="Blog")
    
    div.Blog-content-container
      div.Blog-content-wrapper
        div(id="Blog-content-container" data-url="../blog/2016-07/usb-c-clip/index.html" data-title="USB C Clip")
          a(href="../blog/2016-07/usb-c-clip/index.html" title="USB C Clip")
            div(class="Blog-feature-img" style="background-image: url('../media/images/blog/usb-c.jpg');"
            href="../blog/2016-07/usb-c-clip/index.html" title="USC C Clip")
              div.Background-img-text-container.Background-text-container
                div.Background-header-text USB C Clip
                p.Background-caption-text We are excited to announce the release of our new USB C clip for Pupil hardware.
                p.Background-caption-text-button Read More

      //- div.Blog-content-container
      //-   div.Blog-content-wrapper
      //-     div.Feature-container-column.verticle-line
      //-       div.Grid.Grid--1of3.Grid--justifyCenter
      //-         div.Grid-cell.Grid--justifyCenter.Grid-cell--center
      //-           h4 #[a(href="/blog-archive" class="Grid--justifyCenter" title="Blog Archive" rel="noopener") Blog Archive]
      //-         div.Grid-cell.Grid--justifyCenter.Grid--center
      //-           h4 #[a(href="/blog-archive" title="Blog Archive" rel="noopener") Blog Archive]
      //-         div.Grid-cell.Grid--justifyCenter.Grid--center
      //-           h4 #[a(href="/blog-archive" title="Blog Archive" rel="noopener") Blog Archive]

      div.Site-content-container
        div.Feature-header-container
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Grid
              div.Grid-cell.Grid-cell--full.u-padTop--1
                h2.Feature-paragraph Our blogs consists of new software releases and relevant news

    div.Blog-content-container
      div.Blog-content-wrapper
        div.Horizontal-line-divider
          #[a(href="/blog-archive" class="Box-grey Background-caption-text" title="Blog Archive" rel="noopener") Blog Archive]

        //-Shows all the articels in one dropdown list

        //- div(class="ui compact menu")
        //-   div(class="ui simple dropdown item") Archive
        //-     div(class="menu")
        //-       - var articles = env.helpers.getArticles(contents)
        //-       each article,i in articles
        //-         a(class="item" href=article.url)
        //-               div #{ article.title } - #[time(class="Article-time")= moment.utc(article.date).format('YYYY MMM. DD')]

    
        //-Categorize archive in years and all the posts in each month
      
    div.Blog-content-container-body
      div.Blog-content-wrapper
        each article, i in articles
          div.Feature-container-column.Horizontal-line-body
            article.Grid.Grid--1of2.Grid--justifyCenter
                div.Grid-cell
                  - var img_src = (article.metadata.featured_img ? article.metadata.featured_img : "https://placehold.it/800x600")
                  img(class="Feature-image" src=img_src)
                div.Grid-cell.Blog-article-intro
                  a(href=article.url)
                    h2.Blog-article-title= article.title

                  div.Grid
                      p.small.Body-text-wrapper= moment.utc(article.date).format('YYYY MMM DD')      
                      if article.metadata.subtitle
                      p.small.Body-text-wrapper 0 Comments

                  p= article.metadata.subtitle
                  a(href=article.url) read more



    div.Grid.Grid--justifyCenter
      if prevPage
        a(href=prevPage.url class="Blog-nav-link")
          div.Grid-cell--auto.Blog-nav
            p newer
      //- else
      //-   a(href='/archive.html' class="Blog-nav-link")
      //-     div.Grid-cell--auto.Blog-nav
      //-       p archives
      if nextPage
        a(href=nextPage.url class="Blog-nav-link")
          div.Grid-cell--auto.Blog-nav
            p older