extends layout

block main
  div(id="Home").Site-transform

    - var intro_data = contents.home['home_pupil_intro.json']
    - var intro_meta = intro_data.metadata    
    - var oss_data = contents.home['home_open_source.json']
    - var oss_meta = oss_data.metadata
    - var home_newsletter = contents.home['home_newsletter.json']
    - var home_newsletter_meta = home_newsletter.metadata

    //- show background image
    div.Background-img-top.Background-img-cover
      figure(class="Background-img--full-wh" src="../media/images/home/slides/00.jpg" style="background-image: url('../media/images/home/slides/00.jpg');")
      div(style="top:55%;").Site-content-container.Background-img--caption.u-textCenter
        h1.Background-img--caption-h1 Open source eye tracking.
        //- h2.Background-img--caption-h2 

    //- pupil intro row
    div(id="content-top" class="Site-content-container")
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            h1.Feature-title--lg.u-padBottom--1 Pupil Platform
            p.Feature-paragraph We develop open source software and build accessible hardware for eye tracking.
          div.Grid.Grid--1of3.Grid--gutters.u-textCenter
            div.Grid-cell
              figure.Feature-figure
                img(class="Feature-image" src="https://placehold.it/400x400")
              p.Feature-paragraph Pupil Hardware +
            div.Grid-cell
              figure.Feature-figure
                img(class="Feature-image" src="https://placehold.it/400x400")
              p.Feature-paragraph Your Device +
            div.Grid-cell
              figure.Feature-figure
                img(class="Feature-image" src="https://placehold.it/400x400")
              p.Feature-paragraph Pupil Open Source Software


    //- oss motivation row
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1.Feature-title--lg.u-padBottom--1 #{ oss_meta.title1 }
            div.Grid.Grid--1of3.Grid--gutters.u-textCenter
              div.Grid-cell
                figure.Feature-figure
                  img(class="Feature-image" src="../media/images/home/icons/modular.png")
                p.Feature-paragraph #{ oss_meta.point1 }
              div.Grid-cell
                figure.Feature-figure
                  img(class="Feature-image" src="../media/images/home/icons/community.png")
                p.Feature-paragraph #{ oss_meta.point2 }
              div.Grid-cell
                figure.Feature-figure
                  img(class="Feature-image" src="../media/images/home/icons/service.png")
                p.Feature-paragraph #{ oss_meta.point3 }


    //- dev feed row
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1.Feature-title--lg.u-textCenter.u-padBottom--1 Development Feed
              p.Feature-paragraph Take a look at what we are working on now.
          div.Grid-cell.Grid-cell--full.u-padTop--2
            div(id="Home-activity")
              ul(id="Home-activity-list" class="Activity")

    
    //- newsletter row
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1.Feature-title--lg.u-textCenter.u-padBottom--1 #{ home_newsletter_meta.title }
             div.Grid
                div.Grid-cell.Grid-cell--full
                  p.Feature-paragraph #{ home_newsletter_meta.point1 }
                div.Grid-cell
                  form(id="newsletter-form" data-parsley-validate data-parsley-focus="first")
                    input(class="Form-input Form-input--text-newsletter" id="mce-EMAIL" type="email" placeholder="#{ home_newsletter_meta.input_placeholder }" name="EMAIL" required data-parsley-trigger="focusout" data-parsley-errors-container="#news_email_error")
                    p(class="Form-error--text" id="news_email_error")
                    input(type="submit" value="submit" id="newsletter-form-submit" class="Form-input--submit")
                    label(for="newsletter-form-submit" class="Button Button--cart Button-submit-newsletter") #{ home_newsletter_meta.button }
    

    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1.Feature-title--lg.u-textCenter.u-padBottom--1 Recent Blog Posts
          div.Grid-cell.Grid-cell--full.u-padTop--2
            ul
            - var articles = env.helpers.getArticles(contents)
            - var articleLimit = 5
            each article,i in articles.slice(0,articleLimit)
              - var opacity = "opacity:"+String(1-(i*(1.1/articleLimit)))+";"
              li(class="Article-list-item" style=opacity)
                article
                  header
                    h4 #{ article.title } - #[time(class="Article-time")= moment.utc(article.date).format('YYYY MMM. DD')]
                    p= article.metadata.subtitle
                    a(href=article.url class="Article-link") Read More 




