extends layout

block main
  - var copy_txt = contents.home['index.json'].metadata
  div.Grid.Grid--full
    div.Grid-cell
      div.Banner.Banner--gradientBkg
        h1.Banner-title #{ copy_txt.title }
        h2.Banner-subtitle #{ copy_txt.subtitle }
      
  //- Pupil 
  div.Grid.Grid--1of2
    div.Grid-cell
      div.Feature
        figure.Feature-figure
          img(class="Feature-image" src=copy_txt.pupil_image alt=copy_txt.pupil_image_alt)
    div.Grid-cell.Grid-cell--center
      h1.Home-item-h1 #{ copy_txt.pupil_title }
      h2.Home-item-h2-pupil #{ copy_txt.pupil_description_1 }
      h2.Home-item-h2-pupil #{ copy_txt.pupil_description_2 }
      a(href="/pupil" class="button-flex") #{ copy_txt.pupil_link_text }

  div.Grid.Grid--1of2
    //- About
    div.Grid-cell
      h2.Home-item-h1 About Us
    //- Recent Blog Posts
    div.Grid-cell
      h2.Home-item-h1 Recent Blog Posts
      each article in articles
        li.Article-list-item
          article
            header
              h2.Article-title #{ article.title }
              p
                time(class="Article-time")= moment.utc(article.date).format('YYYY MMM. Do')
              p!= typogr(article.intro).typogrify()
              a(href=article.url class="Article-link") Read More 

