extends layout

block main
  div(id="Home")

    - var intro_data = contents.home['home_pupil_intro.json']
    - var intro_meta = intro_data.metadata    
    - var oss_data = contents.home['home_open_source.json']
    - var oss_meta = oss_data.metadata
    - var home_made = contents.home['home_made.json']
    - var home_made_meta = home_made.metadata
    - var home_newsletter = contents.home['home_newsletter.json']
    - var home_newsletter_meta = home_newsletter.metadata

    div(id="slider" class="Grid Grid--center Grid--alignContentCenter Wallop Wallop--fade Wallop-transform")
      div.Wallop-list
        //- it is imperative for safari to set Wallop-item--current to one item
        div.Wallop-item.Wallop-item--current 
          div(class="Background-img--full-wh" style="background-image: url('../media/images/home/slides/00.jpg');")
        div.Wallop-item
          div(class="Background-img--full-wh" style="background-image: url('../media/images/home/slides/01.jpg');")
        div.Wallop-item
          div(class="Background-img--full-wh" style="background-image: url('../media/images/home/slides/03.jpg');")
      div.Grid-cell.u-textCenter     
        button.Wallop-buttonPrevious
          svg.Wallop-arrow-right(viewbox='0 0 180 310')
            path(d='M170 10 L10 161 M10 150 L170 300')
      div.Grid-cell.u-textCenter
        button.Wallop-buttonNext
          svg.Wallop-arrow-right(viewbox='0 0 180 310')
            path(d='M10 10 L170 161 M170 150 L10 300')


    //- pupil intro row
    div(id="content-top" class="Site-content-container")
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell--2of3
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 #{ intro_meta.pupil_title }
              p.Feature-paragraph #{ intro_meta.pupil_description_1 }
              p.Feature-paragraph #{ intro_meta.pupil_description_2 }
              p.Feature-paragraph #{ intro_meta.pupil_description_3 }
              p.Feature-paragraph!= typogr(intro_meta.pupil_description_4).typogrify()
          div.Grid-cell--1of3
            div.Feature
              figure.Feature-figure
                img(class="Feature-image" src=intro_meta.pupil_image alt=intro_meta.pupil_image_alt)
          div.Grid-cell.u-padTop1
              a(href="/pupil" class="Button Button-max-width--50-100") #{ intro_meta.pupil_link_text }


    //- oss motivation row
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full.u-textCenter
              div.Feature
                h1.Feature-title--lg.u-padBottom--1 #{ oss_meta.title1 }
              div.Grid.Grid--1of3
                div.Grid-cell
                  p.Feature-paragraph #{ oss_meta.point1 }
                div.Grid-cell
                  p.Feature-paragraph #{ oss_meta.point2 }
                div.Grid-cell
                  p.Feature-paragraph #{ oss_meta.point3 }

    //- made in berlin row
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full.u-textCenter
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 #{ home_made_meta.title1 }
            div.Grid
              div.Grid-cell.Grid-cell--full
                p.Feature-paragraph #{ home_made_meta.point1 }
              div.Grid-cell.Grid-cell--full
                p.Feature-paragraph #{ home_made_meta.point2 }
              div.Grid-cell.Grid-cell--full
                p.Feature-paragraph #{ home_made_meta.point3 }

    //- dev feed row
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1.Feature-title--lg.u-textCenter.u-padBottom--1 Development Feed
            div.Grid-cell.Grid-cell--full.u-padTop--2
              div(id="Home-activity")
                ul(id="Home-activity-list" class="Activity")

    
    //- newsletter row
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1.Feature-title--lg.u-textCenter.u-padBottom--1 #{ home_newsletter_meta.title }
           div.Grid
              div.Grid-cell.Grid-cell--full
                p.Feature-paragraph #{ home_newsletter_meta.point1 }
              div.Grid-cell
                form(id="newsletter-form" data-parsley-validate data-parsley-focus="first")
                  input(class="Form-input Form-input--text-newsletter" id="mce-EMAIL" type="email" placeholder="#{ home_newsletter_meta.input_placeholder }" name="EMAIL" required data-parsley-trigger="focusout" data-parsley-errors-container="#news_email_error")
                  p(class="Form-error--text" id="news_email_error")
                  input(type="submit" value="submit" id="newsletter-form-submit" class="Form-input--submit")
                  label(for="newsletter-form-submit" class="Button Button--cart Button-submit-newsletter") #{ home_newsletter_meta.button }
  

    //- //- Recent Activity
    //- - var bannerData = {'title': intro_meta.activity_title,'s1': "a snapshot of the most recent pupil labs events"}
    //- - var bannerBkg = "Banner-container--sm"
    //- - var bannerParagraphs = ""
    //- include includes/banner
    //- div.Feature-container--activityHome
    //-   div.Grid.Grid--1of2.Grid--gutters-noMargin
    //-     div.Grid-cell
    //-       h2.u-textCenter Recent Blog Posts 
    //-       div.Feature.Feature--padded3
    //-         ul
    //-         - var articles = env.helpers.getArticles(contents)
    //-         - var articleLimit = 5
    //-         each article,i in articles.slice(0,articleLimit)
    //-           - var opacity = "opacity:"+String(1-(i*(1.1/articleLimit)))+";"
    //-           li(class="Article-list-item" style=opacity)
    //-             article
    //-               header
    //-                 h4 #{ article.title } - #[time(class="Article-time")= moment.utc(article.date).format('YYYY MMM. DD')]
    //-                 p= article.metadata.subtitle
    //-                 a(href=article.url class="Article-link") Read More 

    //-     div.Grid-cell
    //-       h2.u-textCenter Development Feed 
    //-       div(id="Home-activity" class="Feature Feature--padded3")
    //-         ul(id="Home-activity-list" class="Activity")




