extends layout

block vars
  - var mainClass = 'Site-content Site-blog'

block append title
  | #{ " - " + page.title}

block main
  div(id="Jobs")
  //- Title block
  - var page_data = contents.jobs['index.json']
  - var page_meta = page_data.metadata
  - var titleData = {'title':page_meta.title,'s1':page_meta.subtitle}    
  //- include includes/title

  -var positions_folder = contents.jobs['positions']

  - var missionData = contents.jobs['pupil_mission.md']
  
  div.Feature--padded2
    div.Grid.Article
      div.Grid-cell--sidebar-sm
      div.Grid-cell--main
        h2.Banner-title.u-textCenter= missionData.title
        h3.Banner-subtitle.u-textCenter= missionData.metadata.subtitle
        div.u-textJustified.u-padTop--1!= typogr(missionData.html).typogrify()
      div.Grid-cell--sidebar-sm

  - var positions = _.chain(positions_folder._.pages).sortBy(function(item) {
  -   return item.metadata['order'];
  - }).value()
  div.Feature--padded3.u-textCenter 
    h2 Current Opportunities     
  div.Grid--gutters-noMargin.Aligner.u-padBottom--5
    each p in positions
      div.Aligner-item--1of3.Aligner-item--column
        h2.Feature-title.u-textCenter.u-padBottom--1.u-padTop--1= p.title
        div.Article.Aligner-item--stretchHeight!= typogr(p.html).typogrify()
        a(href="mailto:jobs@pupil-labs.com" target="_blank" role="button" class="Button Button--whiteBorder") email us to apply
        p.Cart-disclaimerTxt.u-textCenter (please include your cv and links to relevant work)
