extends layout

block append title
  | #{ " - " + page.title}

block main
  //- Title block
  div(id="Pupil" class="Wallop-transform")
    - var page_data = contents.pupil['index.json']
    - var page_meta = page_data.metadata
    - var pupil_slides_data = contents.pupil.features['slides_pupil_drawings.json']
    - var pupil_slides_meta = pupil_slides_data.metadata
    
    //- slider 
    //- TODO - add bkg color class (not inline)
    //- TODO - pull slider images from json file and run in for loop
    - var slider_data = pupil_slides_meta

    div.Grid
      div(class="Background-img--full-wh Background-img-cover" style=page_meta.pupil_background_image_1 title=page_meta.pupil_background_image_1_title)

    //- pupil intro row
    //- div(id="content-top" class="Site-content-container")
    //-   div.Feature-container-column
    //-     div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
    //-       div.Grid-cell.Grid-cell--full
    //-         div.Feature
    //-           h1.Feature-title--lg.u-textCenter Pupil
    //-           h2.Feature-subtitle.u-padBottom--1.u-textCenter.u-padTop--1 A platform for eye tracking and egocentric vision research
    //-           p.Feature-paragraph.u-textCenter.u-padTop--2 Pupil headsets are 3D printed frames that you wear like a pair of glasses. 
    //-           p.Feature-paragraph.u-textCenter Cameras record your field of view and your eye movements. Data is correlated with Pupil Capture software. 
    //-           p.Feature-paragraph.u-textCenter Pupil is designed as a modular system to support the diverse needs and applications of researchers.

    //- half width slider
    section(style="background-color:#6f7679;")
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--center
            div.Grid-cell.Grid-cell--full
              div(style="color: white;").Feature
                h1(style="color: white;").Feature-title--lg.u-textCenter #{ page_meta.pupil_title_1 }
                h2.Feature-subtitle.u-padBottom--1.u-textCenter.u-padTop--1 #{ page_meta.pupil_description_1 }
                p.Feature-paragraph #{ page_meta.pupil_description_2 }
            div(style="color: white;").Grid-cell.Grid-cell--1of3

                //- p.Feature-paragraph Cameras record your field of view and your eye movements. Data is correlated with Pupil Capture software. 
                each slide, i in slider_data
                  - var text_class = (i == 0 ? "Feature-paragraph Wallop-txt Wallop-txt--current" : "Feature-paragraph Wallop-txt Wallop-txt--hidden")
                  p(class=text_class)=slide.configuration_title + " - " + slide.configuration_text 

            div.Grid-cell.Grid-cell--2of3.u-padBottom--2
              div(id="pupil-headset-slider").Grid.Grid--center.Grid--align-ContentCenter.Wallop
                div.Wallop-list.Grid-cell.Grid-cell--full
                  each slide, i in slider_data    
                    - var slide_class = (i == 0 ? "Wallop-item Wallop-item--current" : "Wallop-item")
                    - var bkg_img = "background-image: url('"+slide.url+"');"
                    div(class=slide_class)
                      div(class="Background-img--full-w-grid Background-img-contain" style=bkg_img)

            div.Grid-cell.Grid-cell--full.u-textCenter.Wallop-pagination-container
              each slide, i in slider_data
                button.Wallop-dot

    //- software 
    //- div.Site-gray-bkg
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 #{ page_meta.pupil_title_2 }
              h2.Feature-paragraph.u-padBottom--1 #{ page_meta.pupil_description_3 }
              div.Grid.Grid-pad--1of2
                div.Grid-cell
                  h2.Feature-subtitle.u-padBottom--1 #{ page_meta.pupil_sub_title_1 }
                  p.Feature-paragraph #{ page_meta.pupil_description_4 }
                  p.Feature-paragraph #{ page_meta.pupil_description_5 }
                div.Grid-cell
                  h2.Feature-subtitle.u-padBottom--1 #{ page_meta.pupil_sub_title_2 }
                  p.Feature-paragraph #{ page_meta.pupil_description_6 }
                  p.Feature-paragraph #{ page_meta.pupil_description_7 }
              div.Grid.Grid--1of2
                div.Grid-cell
                  div.Feature.u-padTop--2
                    figure.Feature-image--capturePlayerIcons
                      img(class="Feature-image" src=page_meta.pupil_icon_1 alt=page_meta.pupil_icon_1_alt)
                    h2.Feature-subtitle.u-textCenter.u-padTop--1 #{ page_meta.pupil_sub_title_3 }
                div.Grid-cell
                  div.Feature.u-padTop--2
                    figure.Feature-image--capturePlayerIcons
                      img(class="Feature-image" src=page_meta.pupil_icon_2 alt=page_meta.pupil_icon_2_alt)
                    h2.Feature-subtitle.u-textCenter.u-padTop--1 #{ page_meta.pupil_sub_title_4 }

    //- full width background image
    div.Grid
      div(class="Background-img--full-wh Background-img-cover" style=page_meta.pupil_background_image_2 title=page_meta.pupil_background_image_2_title)


    //- open source
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
        div.Grid.Grid--1of2.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 #{ page_meta.pupil_title_3 }
              p.Feature-paragraph #{ page_meta.pupil_description_8 }
              p.Feature-paragraph #{ page_meta.pupil_description_9 }
              p.Feature-paragraph #{ page_meta.pupil_description_10 }
              //- how to put text with html elements in json file?
              p.Feature-paragraph Check out the pupil repository on <a href="https://github.com/pupil-labs/pupil/" rel="noopener">Github</a>. Read developer documentation on the <a href="https://github.com/pupil-labs/pupil/wiki" rel="noopener">wiki</a>.
          div.Grid-cell
            div.Feature
              figure.Feature-figure
                img(class="Feature-image" src=page_meta.pupil_image_1 alt=page_meta.pupil_image_1_alt title=page_meta.pupil_image_1_title)


    //- design
    div.Site-content-container
      div.Feature-container-column
        div.Grid.Grid--1of2.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell
            div.Feature
              h1.Feature-title--lg.u-padBottom--1 #{ page_meta.pupil_title_4 }
              p.Feature-paragraph #{ page_meta.pupil_description_11 }
              p.Feature-paragraph #{ page_meta.pupil_description_12 }
          div.Grid-cell
            div.Feature
              figure.Feature-figure
                img(class="Feature-image" src=page_meta.pupil_image_2 alt=page_meta.pupil_image_2_alt title=page_meta.pupil_image_2_title)

    //- tech specs and performance
    div.Site-gray-bkg
      div.Site-content-container
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1.Feature-title--lg.u-textCenter.u-padBottom--1 #{ page_meta.pupil_title_5 }
                p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_13 }
                p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_14 } 
                p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_15 }
                p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_16 }


    //- Modular & Hackable
    div.Site-content-container
      div.Feature-container-column
      div.Grid.Grid--1of2.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
        div.Grid-cell
          div.Feature
            h1.Feature-title--lg.u-padBottom--1 #{ page_meta.pupil_title_6 }
            p.Feature-paragraph #{ page_meta.pupil_description_17 }
        div.Grid-cell
          div.Feature
            figure.Feature-figure
              figure.Feature-figure
              img(class="Feature-image" src=page_meta.pupil_image_3 alt=page_meta.pupil_image_3_alt title=page_meta.pupil_image_4_title)

    //- Community
    div.Site-gray-bkg
      div(id="content-top" class="Site-content-container")
        div.Feature-container-column
          div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
            div.Grid-cell.Grid-cell--full
              div.Feature
                h1.Feature-title--lg.u-textCenter.u-padBottom--1 #{ page_meta.pupil_title_7 }
                p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_18 }
                p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_19 }
                p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_20 }
                p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_21 }

    //- Commercial Use & Dedicated Suppor
    div(id="content-top" class="Site-content-container")
      div.Feature-container-column
        div.Grid.Grid--justifyCenter.Grid--center.Grid--alignContentCenter.Feature-row
          div.Grid-cell.Grid-cell--full
            div.Feature
              h1.Feature-title--lg.u-textCenter.u-padBottom--1 #{ page_meta.pupil_title_8 }
              p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_22 }
              p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_23 }
              p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_24 }
              p.Feature-paragraph.u-textCenter #{ page_meta.pupil_description_25 }


