extends layout

block main
  //- Title block
  div(id="Store")
    - var page_data = contents.store['index.json']
    include includes/title

    //- Configurator
    include includes/configurator

    //- Additional products
    //- TODO - this grid should have a gutter between images and outsides
    //- section.Grid.Grid--full
    //-   div.Grid-cell
    //-     h2.Feature-subtitle--lg.u-textCenter Additional Products
    - var bannerData = {'title': 'Additional Products','subtitle': "support packages, lenses, computers, and more"}
    include includes/banner

    section.Store-wrapper
      div.Grid.Grid--gutters.Grid--1of4.Additional-products
        //- - var additional_products = contents.store.products['product-list.json'].metadata
        //- each item in additional_products
        //-   div.Grid-cell
        //-     div.Feature
        //-       div.Feature-figure
        //-         img(class="Feature-image" src="http://placehold.it/500x300/444444")
        //-         p #{ item.label }
        //-         p #{ item.specs }
        //-         p € #{ item.cost }
        //-         a(role="button" class="AddToCart button-flex" href="#" data-cost=item.cost data-id=item.id data-specs=item.specs data-product=item.product_type) Add to cart

